@import "./navbar.css";
@import "./reset.css";
@import "./header.css";
@import "./carousel.css";
@import "./side_content.css";
@import "./aside-content.css";
@import url("https://fonts.googleapis.com/css2?family=Livvic:wght@300;400;700&display=swap");

/* Global Styling */
html,
body {
  box-sizing: border-box;
  overflow: hidden;
  overflow-y: scroll;
  font-family: "Livvic", sans-serif;
}

a {
  text-decoration: none;
}

.flex-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

ul {
  list-style-type: none;
}

button.btn {
  padding: 1rem 3rem;
  border-radius: 2rem;
  border: none;
  font-size: 1.2rem;
  cursor: pointer;
}

.container {
  margin: 0 5vw;
}

.text-grey {
  color: #333;
}

p {
  color: #666;
}

.aside-heading {
  color: #333;
  font-size: 1.3rem;
  font-weight: 600;
  margin: 1rem 0 0.5rem 0;
}
